@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", sans-serif;
    color: #212121;
}

p {
    line-height: 1.6em;
}

section {
    min-height: 900px;
}

header,
.main_nav,
.about,
.tech li,
.projects,
.project_nav,
.project_gallery {
    display: flex;
}

.hidden_menu {
    width: 100%;
    transition: all ease 0.3s;
    z-index: 3;
    background: #212121d3;
    backdrop-filter: blur(8px);
}

.active {
    color: #fff102;
}

.hidden_menu_nav {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.75em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.hidden_menu_nav_title {
    text-transform: uppercase;
    color: #fff102;
    font-size: 1.5rem;
}

.hidden_menu_nav a {
    padding: 1em 1em;
    padding-bottom: 0.4em;
    color: #fff;
    margin-left: 1em;
    text-decoration: none;
    text-transform: uppercase;
    border-bottom: 3px solid transparent;
}

.hidden_menu_nav a:hover,
.hidden_menu_nav a:focus {
    border-bottom: 3px solid #fff102;
}

header {
    min-height: 800px;
    text-transform: uppercase;
}

.floating-menu {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    margin: 0 auto;
    max-width: 1440px;
    background: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_left_section,
.main_nav a {
    color: #fff;
}

.header_left_section,
.my_img,
.title_large_text {
    position: relative;
}

.header_left_section {
    width: 37%;
    text-align: center;
    background: #212121;
    background-repeat: no-repeat;
    background-position: -50px -50px;
    background-image: url("../images/bg_pattern.png");
}

.title,
.main_nav {
    height: 70px;
    align-items: center;
}

.title {
    font-size: 1.75rem;
    text-align: left;
    display: flex;
    padding-left: 1.5em;
}

.floating_text {
    left: 7em;
    bottom: 7em;
    width: 165%;
    text-align: left;
    position: absolute;
}

.floating_text .tagline,
.name {
    text-shadow: 2px 2px 2px #000;
}

.salutation,
.name,
.persona_title,
.title_small_text,
.title_large_text,
.tagline {
    display: block;
}

.salutation {
    font-size: 2rem;
}

.name {
    font-weight: bold;
    font-size: clamp(4rem, 7vw, 5rem);
    margin: -0.1em 0;
}

.download_btn {
    color: #000;
    font-size: 18px;
    border-radius: 3px;
    padding: 0.5em 1.5em;
    background-color: #fff102;
    border: none;
    margin-top: 1.5em;
    cursor: pointer;
}

.header_right_section {
    width: 63%;
    background: #aaa;
    background-size: 170%;
    background-position: -15em 0;
    background-repeat: no-repeat;
    background-image: url("../images/adi.JPG");
}

.main_nav {
    gap: 2.75em;
    padding-right: 3em;
    background: #5d5d5d;
    justify-content: flex-end;
}

.main_nav a {
    padding: 0.5em 0;
    text-decoration: none;
    border-bottom: 3px solid transparent;
}

.main_nav a,
.hidden_menu_nav a {
    transition: all ease 0.2s;
}

.main_nav a:hover,
.main_nav a:focus,
.active {
    border-bottom: 3px solid #fff102;
}

.header_right_section img {
    max-width: 100%;
    object-fit: cover;
}

/*-------------- ABOUT ---------------*/

.project_gallery,
.large_margin_wrapper {
    max-width: 1440px;
}

.large_margin_wrapper {
    margin: 0 auto;
}

.about {
    justify-content: center;
    align-items: center;
    min-height: 900px;
}

.my_img,
.my_info {
    width: 50%;
}

.my_img {
    margin-left: 4.5em;
}

.my_img img {
    width: clamp(270px, 25vw, 400px) !important;
}

.my_img::before {
    content: "";
    width: clamp(270px, 25vw, 400px) !important;
    height: clamp(270px, 25vw, 400px) !important;
    background-color: #212121;
    position: absolute;
    left: -40px;
    top: -40px;
    z-index: -1;
}

.my_info {
    width: 70%;
    padding-left: 2em;
    padding-right: 2em;
}

.title_small_text {
    font-weight: bold;
}

.title_large_text {
    font-size: 38px;
    font-weight: bold;
    margin-bottom: 0.75em;
    text-transform: uppercase;
}

.title_large_text::after {
    content: "";
    width: 100px;
    height: 20px;
    top: 0;
    left: 0;
    z-index: -2;
    position: absolute;
    background: #fff102;
}

.my_info p {
    margin-bottom: 1.75em;
    text-align: justify;
}

.tech {
    list-style: none;
    margin-top: 1em;
}

.tech li {
    padding: 0.15em 0;
    align-items: center;
}

.tech_title {
    margin-left: 1em;
}

/* ----------- my work ----------- */

.projects {
    flex-direction: column;
    align-items: center;
    min-height: 800px;
    background: rgba(238, 238, 238, 0.507);
    padding: 4em 0;
}

.project_nav {
    text-transform: uppercase;
    gap: 1em;
    margin: 1em 0 4em 0;
}

.project_nav_btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 0.5em 1em;
    text-transform: uppercase;
    border: 1px solid #d3d3d3;
    color: #949393;
    background: #ffffff;
}

.project_nav_btn:hover,
.project_nav_btn:focus {
    border: 1px solid #a7a7a7;
    color: #212121;
    outline: none;
}

.project_gallery {
    justify-content: center;
    gap: 2em;
    flex-wrap: wrap;
}

.project {
    position: relative;
    overflow: hidden;
}

.project img {
    width: 400px;
    height: 300px;
    object-fit: cover;
    filter: grayscale(0.6);
}

.project_info {
    background: #fff202c9;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: -320px;
    transition: all ease 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project:hover > .project_info {
    opacity: 1;
    top: 0;
    animation: slideDown 0.3s linear;
    backdrop-filter: blur(2px);
}

.slideUp {
    animation: slideUp 0.3s linear;
}

.slideDown {
    animation: slideUp 0.3s linear;
}

.modal-backdrop {
    border: 1px solid #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.672);
    backdrop-filter: blur(5px);
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.project_modal {
    width: 90%;
    max-width: 600px;
    margin: 3em auto;
    height: 90vh;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.close_btn {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 5px 10px;
    background: #ddd;
    color: #fff;
    text-shadow: 0 0 1px #000;
}

.close_btn:hover {
    background: #bbb;
}

@keyframes slideDown {
    0% {
        top: -300px;
    }
    100% {
        top: 0;
    }
}

@keyframes slideUp {
    0% {
        top: 0;
    }
    100% {
        top: -300px;
    }
}

@keyframes modalSlideDown {
    0% {
        top: -300px;
    }
    100% {
        top: 0;
    }
}

@keyframes modalSlideUp {
    0% {
        top: 0;
    }
    100% {
        top: -300px;
    }
}
/* --------- testimonials --------- */

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em 0;
    flex-wrap: wrap;
    min-height: 800px;
    gap: 2em;
    padding: 2em 0;
}

.testimonial_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2em;
}

.testimonial {
    border: 1px solid #e4e4e4;
    max-width: 450px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em 2em;
    box-shadow: 5px 5px 15px #ececec;
}

.testimonial img {
    width: 150px;
    border-radius: 50%;
}

.testimonial_title {
}

.testimonial_name,
.testimonial_title,
.testimonial_contact {
    color: #949393;
}

.testimonial_name {
    margin: 1em 0;
}

.testimonial_description {
    font-style: italic;
    margin: 1em 0;
    color: #666666;
    text-align: justify;
    line-height: 24px;
    font-size: 0.9rem;
    padding: 1.5em;
    position: relative;
}

.testimonial_description::before {
    content: '"';
    font-size: 5rem;
    color: #fff102;
    position: absolute;
    top: 0.2em;
    left: 0;
}

.testimonial_contact {
    font-size: 1.5rem;
}

/* --------- footer --------- */
footer {
    background: #000;
    color: #fff;
}
